.col-md-12 {
	background-color:#37474F ;
	
	
}

.fab{
	position: center;
}


.footer{
	background-color: #37474F;
	color: white;
	position: center;
}
.row{
	position: center;
}

 .rede{
 	width: 150px;
 	height: 150px;
 	float: left;
 	margin-left: 20px;
 	transition: all 0.4s ease-out;
 	border-radius: 50%;
 }
 .rede#facebook{
 	background-color: white;
 }
 .rede#twitter{
 	background-color: white;
 }
 .rede#snapchat{
 	background-color: white;
 }
 .rede#istagram{
 	background-color: white;
 }

 .icone{

 }
 